# Byte-compiled / optimized
*.pyc
.cache
*.o

# C extensions
*.so
*.c

# Distribution / packaging
*.egg-info
environment?.?.yml

# Unit test / coverage reports
.hypothesis/

# Backup files
*~
__*__

# macOS
.DS_Store
